<div class="author">
	<div class="avatar"><img src="{{author.image}}" /></div>
	<div class="name">{{author.name}}</div>
	<div class="bio">{{author.bio}}</div>
	<div class="location">{{author.location}}</div>
	<div class="social">
		<a href="https://github.com/guaricema"><i class="icon-github"></i></a>
		<a href="https://plus.google.com/101028147899171394052/about"><i class="icon-gplus-squared"></i></a>
		<a href="https://instagram.com/guaricema/"><i class="icon-instagram"></i></a>
		<a href="skype:pavel.fedotov"><i class="icon-skype"></i></a>
	</div>
</div>