<div class="postmeta">
	<div class="date"><i class="fa-solid fa-clock"></i> {{date published_at timeago="true"}}</div>
	<div class="tags">{{#if tags}}<i class="fa-solid fa-tags"></i> {{tags}}{{/if}}</div>
	<div style="clear: both;"></div>
</div>