<div class="postmeta">
	<div class="date"><i class="icon-clock"></i> {{date published_at timeago="true"}}</div>
	<div class="tags"><i class="icon-tags"></i> {{tags}}</div>
	<div style="clear: both;"></div>
</div>